.App {
  text-align: center;
  background-color:#282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Parent {
  border-style: solid;
  background-color: azure;
}

.ParentState {
  background-color: cornflowerblue;
}

.ChildOne {
  border-style: double;
  padding: 2px;
  margin: 10px;
  background-color:#282c34;
}

.ChildOneState {
  background-color: greenyellow;
}

.ChildTwo {
  border-style: dashed;
  padding: 2px;
  margin: 10px;
  background-color: azure;
}

.ChildTwoState {
  background-color: orangered;
}

.Card {
  flex: auto;
  padding: 5px;
  background-color: lightcyan;
}