.App {
  text-align: center;
  background-color:#282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AppTitle{
  color: aliceblue;
  padding: 5px;
}

.AppState{
  background-color: aliceblue;
  border: solid 2px #282c34;
  border-radius: 25px;
  margin-top: 5px;
}

.Parent {
  background-color: azure;
  border:solid 5px purple;
}

.ParentState {
  background-color: cornflowerblue;
  border: solid 2px #282c34;
  border-radius: 25px;
  margin-top: 5px;
}

.ChildOne {
  padding: 2px;
  margin: 40px;
  background-color:aquamarine;
  border: solid 5px aqua;
}

.ChildOneState {
  background-color: greenyellow;
  border: solid 2px #282c34;
  border-radius: 25px;
  margin-top: 5px;
}

.ChildTwo {
  padding: 2px;
  margin: 40px;
  background-color:gold;
  border: groove 5px goldenrod;
}

.ChildTwoState {
  background-color: orangered;
  border: solid 2px #282c34;
  border-radius: 25px;
  margin-top: 5px;
}

.Card {
  flex: auto;
  margin: 25px;
  background-color:papayawhip;
  border:groove 15px burlywood;
  border-radius: 15px;
  width:fit-content;
}

.currentState{
  background-color: blue;
}
.animate {
  transition: transform .35s ease-in-out;
}

.animate.grow {
  transform: scale(1.5);
}